/**
 * Table of Contents
 * -----------------
 * 1. General Settings
 * 2. Variables
 * 3. Base Styles
 * 4. Layout Components
 *    4.1. Main Layout
 *    4.2. Navigation Bar
 *    4.3. Footer
 * 5. Components
 *    5.1. Buttons
 *    5.2. Forms
 *    5.3. Alerts
 *    5.4. Tables
 *    5.5. Progress Bar
 *    5.6. Spinner
 *    5.7. Tooltip
 *    5.8. Social Icons
 * 6. Utilities
 *    6.1. Container
 *    6.2. Visually Hidden
 * 7. Media Queries
 * 8. Specific Pages
 *    8.1. Index Page
 *    8.2. Login/register Page
 *    8.3. Change password Page
 *    8.4. Add your pet page
 *    8.5. Request Password Reset page
 *    8.6. Password Reset page
 *    8.7. Feed page
 */

/* 1. General Settings */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* 2. Variables */
:root {
    --main-color: #647C90;
    --light-color: #E2DED0;
    --dark-color: #4E4F50;
    --accent-color: #746C70;
    --highlight-color: #FFD700;
    --link-color: #DAA520;
}

.hidden {
    display: none;
}


/* 3. Base Styles */
body {
    background-color: var(--main-color);
    color: var(--light-color);
    display: flex;
    flex-direction: column;
    font-size: 100%;
    line-height: 1.6;
}

a {
    color: var(--link-color);
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}

a:hover {
    border: 2px solid transparent; /* To compensate the shift from focus */
    color: var(--accent-color);
    opacity: 0.7;
}

a:active {
    color: var(--highlight-color);
}

a:focus {
    outline: none;
    border: 2px solid transparent;
    padding-left: 3px; /* To compensate the shift from focus */
    padding-right: 3px;
}

.logo-image {
    height: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    max-width: 100%;
    width: 20%;
}

.headline {
    color: var(--highlight-color);
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
}

/* 4. Layout Components */
/* 4.1. Main Layout */
main {
    flex: 1;
}

.full-height-container {
    padding-bottom: 60px; /* counters the 50px we blocked at the top for the flash messages */
    padding-left: 5%;
    padding-right: 5%;
}

/* 4.2. Navigation Bar */
.navbar {
    background-color: var(--dark-color);
    color: var(--light-color);
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: x-large;
}

.navbar a:not(.navbar-brand) {
    border: 2px solid transparent; /* To compensate the shift from focus */
    outline: none;
}

.navbar a:not(.navbar-brand):hover {
    background-color: var(--light-color);
    color: var(--dark-color);
}

.navbar a:not(.navbar-brand):focus {
    background-color: var(--light-color);
    border: 2px solid var(--highlight-color);
    color: var(--main-color);
}

.navbar-brand {
    border: 2px solid transparent; /* To compensate the shift from focus */
    color: var(--light-color);
    font-size: xx-large;
    outline: none;
}

.navbar-brand:active {
    border: 2px solid var(--highlight-color);
}

.navbar-brand:hover {
    color: var(--accent-color);
}

.navbar-brand:focus {
    border: 2px solid var(--highlight-color);
    margin-left: 2px;
    margin-right: 18px;
}

.nav-user-icon {
    border: 2px solid transparent; /* To compensate the shift from focus */
    color: var(--highlight-color);
    padding: 0.5rem;
    outline: none;
}

.navbar a.nav-user-icon:hover {
    background-color: var(--light-color);
    border-radius: 0.375rem;
    color: var(--dark-color);
}

.navbar a.nav-user-icon:active {
    background-color: var(--light-color);
    border: 2px solid var(--highlight-color);
    border-radius: 0.375rem;
    color: var(--dark-color);
    padding: 0.5rem;
}
.navbar a.nav-user-icon:focus {
    background-color: var(--light-color);
    border-radius: 0.375rem;
    border: 2px solid var(--highlight-color);
    color: var(--dark-color);
    padding: 0.5rem;
}

/* 4.3. Footer */
.bg-footer {
    background-color: var(--light-color);
    color: var(--dark-color);
    padding-top: 100px;
}

.footer-container {
    border: 0px transparent;
}

/* 5. Components */
/* 5.1. Buttons */

.button {
    background-color: var(--dark-color);
    color: var(--light-color);
    font-size: 12px;
    padding: 10px 45px;
    border: 2px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.button.hidden {
    background-color: transparent;
    border-color: var(--light-color);
}

.button:active {
    background-color: var(--light-color);
    color: var(--main-color);
}

.button:focus {
    border: 2px solid var(--highlight-color);
    outline: none;
}

.button:hover {
    border-color: var(--highlight-color);
    color: var(--highlight-color);
}

/* 5.2. Forms */
.form-control, text, select {
    border: 2px solid transparent; /* To compensate the shift from focus */
    outline: none; /* Removes default outline */
}

.form-control:focus, 
text:focus,
select:focus {
    border: 2px solid var(--highlight-color); /* Your custom border */
    box-shadow: 0 0 2px var(--highlight-color); /* Custom glow effect */
}

.container form {
    background-color: var(--light-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container input {
    background-color: #eee;
    border: 2px solid transparent;
    padding: 10px 20px;
    margin-bottom: 4px;
    color: var(--accent-color);
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.tick-box {
    display: flex;
    align-items: center;
    outline: 1px solid transparent; /* To compensate the shift from focus */
    position: relative;
    cursor: pointer;
}

.tick-box input:checked {
    background-color: var(--main-color);
}

.tick-box label {
    margin: 0;
    flex-grow: 1;
}

.w-fixed {
    max-width: 300px; /* Width of form input */
}

.label-width {
    width: 130px;
    background-color: var(--light-color);
}

/* 5.2.1. Image uploader inside input text form */
.textarea-container {
    position: relative;
}

.textarea-icon {
    position: absolute;
    top: 1.6rem;
    right: 1rem;
    cursor: pointer;
    font-size: 2.2rem;
    color: var(--accent-color);
}

textarea#content {
    padding-right: 2.5rem;
}

/* 5.2.2. Toggle switch */
.visibility-toggle {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-size: 12px;
}

.visibility-toggle input[type="radio"] {
    display: none;
}

.visibility-toggle label {
    cursor: pointer;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    background-color: var(--light-color);
    color: var(--dark-color);
    border: 2px solid var(--light-color);
    transition: background-color 0.3s;
}

.visibility-toggle input[type="radio"]:checked + label {
    background-color: var(--dark-color);
    color: var(--light-color);
    border: 2px solid var(--highlight-color);
}

.visibility-toggle input[type="radio"]:hover + label {
    background-color: var(--main-color);
    color: var(--highlight-color);
    border: 2px solid var(--highlight-color);
}

/* 5.3. Alerts */
header {
    min-height: 100px; /* blocking a space for alerts to avoid layout shifts */
    position: relative;
    z-index: 0;
}

.alerts {
    color: red;
}

.alert-container {
    visibility: hidden;
    opacity: 0;
    width: 100%;
    transition: visibility 0s, opacity 0.5s linear;
    position: absolute;
    left: 0;
    top: 0;
}

.alert-container.active {
    visibility: visible; /* Show */
    opacity: 1; /* Make fully visible */
}

.error-border {
    border: 4px solid red; /* Error styling for the input fields */
    z-index: 5;
}

/* 5.4. Tables */
.myTable {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.myTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* 5.5. Progress Bar */
.progress {
    height: 3px;
    margin-top: -9px; /* Moves the bar inside the password field */
    max-width: 294px;
}

.progress-bar {
    width: 0%;
}

.progress-top {
    position: relative;
    z-index: 10;
}

.bg-red {
    background-color: red;
}

.bg-orange {
    background-color: orangered;
}

.bg-yellow {
    background-color: orange;
}

.bg-green {
    background-color: yellowgreen;
}

/* 5.6. Spinner */
.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1050;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

.spinner-border {
    height: 12px;
    width: 12px;
}

/* 5.7. Tooltip */
.custom-tooltip {
    --bs-tooltip-arrow-color: var(--main-color);
    --bs-tooltip-arrow-height: 0.8rem;
    --bs-tooltip-arrow-width: 1.2rem;
    --bs-tooltip-bg: var(--main-color);
    --bs-tooltip-color: var(--light-color);
    --bs-tooltip-max-width: 300px;
    --bs-tooltip-opacity: 0.9;
    --bs-tooltip-padding: 20px;
    --bs-tooltip-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* 5.8. Social Icons */
.social-icons {
    margin: 20px 0;
}

.social-icons a,
.social-icons a:link,
.social-icons a:visited,
.social-icons a:active,
.social-icons a:focus {
    display: inline-flex;
    color: var(--dark-color);
    justify-content: center;
    align-items: center;
    margin: 0 1px;
    width: 40px;
    height: 40px;
}

.social-icons a:hover {
    color: var(--main-color);
}

/* 6. Utilities */
/* 6.1. Container */
.container {
    background-color: var(--light-color);
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    color: var(--dark-color);
    position: relative;
    overflow: hidden;
    max-width: 100%;
}

.container p {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.3px;
    margin: 14px 0;
}

.container a {
    color: var(--main-color);
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.text-container {
    margin: 50px auto;
    padding: 5%;
}

/* 6.2. Visually Hidden */
.visually-hidden {
    display: none;
}

/* 7. Media Queries */
@media (min-width: 768px) {
    .col-md-9 {
        overflow-y: auto;
        max-height: 100vh;
    }
}

/* 8. Specific Pages */
/* 8.1. Index Page */
.fixed-column {
    position: sticky;
    top: 0;
}

.card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    max-width: 350px;
    margin: auto;
}

.card-body .content {
    flex-grow: 1;
}

.pet-photo-container {
    position: relative;
}

.edit-photo-icon, .edit-tracker-icon {
    color: var(--highlight-color);
    cursor: pointer;
}

.edit-photo-icon {
    position: absolute;
    top: 10px;
    right: 10px;
}

#matchesGrid {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

/* 8.2. Login/register page */
.container-login {
    width: 768px;
    min-height: 480px;
}

.log-in {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .log-in {
    transform: translateX(100%);
}

.register {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.active .register {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move {
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.toggle-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 30px 30px 100px;
    z-index: 1000;
}

.container.active .toggle-container {
    transform: translateX(-100%);
    border-radius: 30px 150px 100px 30px;
}

.toggle {
    background-color: var(--main-color);
    height: 100%;
    background: var(--dark-color); /*linear-gradient(to right, var(--link-color), var(--main-color));*/
    color: var(--light-color);
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.active .toggle {
    transform: translateX(50%);
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left {
    transform: translateX(-200%);
}

.container.active .toggle-left {
    transform: translateX(0);
}

.toggle-right {
    right: 0;
    transform: translateX(0);
}

.container.active .toggle-right {
    transform: translateX(200%);
}

/* 8.3. Change password page */
.container-change {
    width: 396px;
    min-height: 320px;
}

/* 8.4. Add your pet page */
.container-pet {
    width: 660px;
    min-height: 480px;
}

.hr-card {
    width: 50%;
    border: 1px solid var(--link-color);
    margin-left: auto;
    margin-right: auto;
}

/* 8.5. Request Password Reset page */
.container-request {
    width: 396px;
    min-height: 240px;
}

/* 8.6. Password Reset page */
.container-reset {
    width: 396px;
    min-height: 280px;
}

/* 8.7. Feed page */
.feed-image {
    max-height: 516px;
    width: auto;  /* This ensures the aspect ratio is maintained */
}
