@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Prep the code to use the full size of the viewport */
html, body {
    height: 100vh;
    margin: 0;
}

main {
    flex: 1;
}

.full-height-container {
    height: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 50px; /* counters the 50px we blocked at the top for the flash messages */
}

/* Overall color scheme */
:root {
    --main-color: #647C90;
    --light-color: #E2DED0;
    --dark-color: #4E4F50;
    --accent-color: #746C70;
    --highlight-color: #FFD700;
}

/* Base look and feel + change body to a flex container */
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--main-color);
    color: var(--light-color);
    font-size: 100%;
    font-weight: 400;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
}

/* Big bold text */
.headline {
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
    vertical-align: middle;
}

/* Styling for navigation */
.navbar {
    padding-left: 2rem;
    padding-right: 2rem;
    color: var(--light-color);
    background-color: var(--dark-color);
}

nav .navbar-brand {
    font-size: xx-large;
    color: var(--light-color);
}

.navbar-brand:hover {
    color: var(--accent-color);
}

.navbar-brand:focus {
    outline: 1px solid var(--highlight-color);
    padding-left: 10px;
    padding-right: 10px;
    margin-left: -10px;
    margin-right: -10px;
}

.navbar a:not(.navbar-brand):hover {
    background-color: var(--light-color);
    color: var(--dark-color);
    padding: auto;
    margin: auto;
}

.navbar a:not(.navbar-brand):focus {
    background-color: var(--light-color);
    color: var(--main-color);
    border: 2px solid var(--highlight-color);
}

.bg-footer {
    background-color: var(--light-color);
    color: var(--dark-color);
}

/* blocking a space for alerts to avoid layout shifts */
header {
    min-height: 50px; 
    position: relative;
}

.alert-container {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: none;
}

.alert-container.active {
    display: block; /* Show when there are messages */
}

/* Styling for tables */
.myTable {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.myTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Error styling for the registration boxes - not used yet, need to implement */
.flashes {
    color: red !important;
}

.error-border {
    border: 1px solid red !important;
}

/* Custom Tooltip Styles */
.custom-tooltip {
    --bs-tooltip-bg: var(--dark-color);
    --bs-tooltip-arrow-color: var(--dark-color);
    --bs-tooltip-arrow-width: 1.2rem;
    --bs-tooltip-arrow-height: 0.8rem;
    --bs-tooltip-opacity: 0.9;
    --bs-tooltip-max-width: 300px;
    --bs-tooltip-color: whitesmoke;
    --bs-tooltip-padding: 20px;
}

/* Focus color */
.form-control:focus {
    border: 2px solid var(--highlight-color);
    background-color: var(--light-color);
}

input[type="checkbox"]:focus {
    outline: 1px solid var(--highlight-color);
}

.btn-fit:focus {
    border: 2px solid var(--highlight-color);
    background-color: var(--main-color);
}

/* Progress bar */
.progress {
    height: 3px;
    max-width: 294px;
    margin-top: -3px; /* Moves the bar inside the password field */
}

.progress-bar {
    width: 0%;
}

.progress-top {
    position: relative;
    z-index: 10;
}

.bg-red {
    background-color: red;
}

.bg-orange {
    background-color: orangered;
}

.bg-yellow {
    background-color: orange;
}

.bg-green {
    background-color: yellowgreen;
}

/* Button for forms */
.btn-fit {
    background-color: var(--dark-color);
    color: var(--light-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.1s;
}

.btn-fit:hover {
    background-color: var(--light-color);
    color: var(--dark-color);
}

/* Style for the checkbox */
.checkbox input[type="checkbox"]:checked + .checkmark {
    background-color: var(--main-color);
}

/* Width of form input */
.w-fixed {
    max-width: 300px;
}

/* Login on registration page styling */
.login-link {
    margin-top: 20px;
    text-align: center;
}
