/* Size for brand */
nav .navbar-brand {
    font-size: xx-large;
}

.navbar a:hover {
    background-color: #A51C30;
    color: white !important;
    padding: auto;
    margin: auto;
}

.myTable {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.myTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Error messages */
.flashes {
    color: red;
}

.error-border {
    border: 1px solid red;
}
