{% extends "layout.html" %}

{% block title %}
    Add Pet
{% endblock %}

{% block main %}
<div class="container-fluid full-height-container grad">
    <div class="row d-flex align-items-center mx-auto">
        <!-- Form -->
<!--       <div class="col-8 d-flex justify-content-center"></div> -->
            <h1>Add Your Pet</h1><br>
            <br>
            <br>
            <form action="/add_pet" method="post" enctype="multipart/form-data">
                <div class="mb-3 input-group">
                    <span class="input-group-text" id="pet_type">Pet Type</span>
                    <select id="pet_type" name="pet_type" class="form-select">
                        <option disabled>Choose...</option>
                        <option value="dog">Dog</option>
                        <option value="cat" disabled>Cat</option>
                    </select>
                </div>
                <div class="mb-3 input-group">
                    <span class="input-group-text" id="pet_name">Pet Name</span>
                    <input type="text" id="pet_name" name="pet_name" class="form-control" required">
                </div>
                <div class="mb-3 input-group">
                    <span class="input-group-text" id="pet_photo">Pet Photo</span>
                    <input type="file" id="pet_photo" name="pet_photo" class="form-control" accept="image/*">
                </div>
                <div class="mb-3 input-group">
                    <span class="input-group-text" id="breed">Breed</span>
                    <select id="breed" name="breed" class="form-select">
                        <option disabled>Choose...</option>
                        <!-- Options pulled from fci-breeds.csv -->
                        <option value="other">Other</option>
                    </select>
                </div>
                <div class="mb-3 input-group">
                    <span class="input-group-text" id="pet_dob">Date of Birth</span>
                    <input type="date" id="pet_dob" name="pet_dob" class="form-control">
                </div>
                <div class="mb-3 input-group">
                    <span class="input-group-text" id="vaccination">Vaccinations</span>
                    <select id="vaccination" name="vaccination[]" class="form-select" multiple>
                        <!-- Options based on the provided vaccination list -->
                    </select>
                </div>
                <div class="mb-3 input-group">
                    <span class="input-group-text" id="tracker">Tracker</span>
                    <input type="text" id="tracker" name="tracker" class="form-control">
                </div>
                <div class="mb-3 input-group">
                    <span class="input-group-text" id="insurance">Insurance</span>
                    <input type="text" id="insurance" name="insurance" class="form-control">
                </div>
                <button type="submit" class="btn btn-fit">Add Pet</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
