{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <div class="container-fluid full-height-container">
        <div class="row justify-content-center align-items-center mx-auto">
                <span><h1 class="text-center">Change password</h1><br></span>
                <div class="container container-change d-flex justify-content-center align-items-center">
                    <form action="/change" method="post">
                    <div class="mb-1">
                        <input class="form-control mx-auto w-fixed  {{ 'error-border' if error_field == 'old_password' }}" id="old_password" name="old_password" 
                        placeholder="Current Password" 
                        type="password">
                    </div>
                    <div class="mb-1">
                        <input autocomplete="off" class="form-control mx-auto w-fixed {{ 'error-border' if error_field == 'new_password' }}" 
                        id="new_password" name="new_password" 
                        value="{{ password or '' }}" 
                        placeholder="New Password" 
                        type="password"
                        data-bs-toggle="tooltip" 
                        data-bs-placement="top"
                        data-bs-custom-class="custom-tooltip"
                        data-bs-html="true"
                        title="Password requirements: minimum 8 characters, at least one digit, uppercase letter(s), lowercase letter(s), and special character(s).">
                        <div class="progress mx-auto progress-top">
                            <div class="progress-bar" 
                                id="password-strength-bar" 
                                role="progressbar" 
                                aria-valuenow="0" 
                                aria-valuemin="0" 
                                aria-valuemax="100" 
                                title="Progress">
                            </div>
                        </div>
                    </div>
                    <div class="mb-1">
                        <input autocomplete="off" class="form-control mx-auto w-fixed {{ 'error-border' if error_field == 'confirmation' }}" 
                        id="confirmation" name="confirmation" 
                        value="{{ confirmation or '' }}" 
                        placeholder="Confirm New Password" 
                        type="password">
                    </div>
                    <button class="button" type="submit">Change</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
