{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <h1>Change password</h1>
    <br>
    <form action="/change" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-fixed" id="old_password" name="old_password" placeholder="Current Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-fixed" id="new_password" name="new_password" placeholder="New Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-fixed" id="confirmation" name="confirmation" placeholder="Confirm New Password" type="password">
        </div>
        <button class="btn btn-fit" type="submit">Change</button>
    </form>
{% endblock %}
