{% extends "layout.html" %}

{% block title %}
    Dating
{% endblock %}

{% block main %}
<div class="container-fluid full-height-container">
    <div class="row justify-content-center align-items-center mx-auto">
        <div class="col-lg-4 col-md-6 col-12 mb-4">
            <span><h1 class="text-center">Pet Dating</h1><br></span>
            <select id="petSelect" onchange="displaySelectedPet();" class="button">
                <option value="">Select Your Pet</option>
                {% for pet in user_pets %}
                    <option value="{{ pet['pets_id'] }}">{{ pet['pet_name'] }}</option>
                {% endfor %}
            </select>
            <div id="selectedPetCard" class="card h-100">
                <!-- Selected pet card will be dynamically inserted here -->
                <!-- Empty placeholder -->
                <div class="card">
                    <img src="/static/placeholder.jpg" class="card-img-top" alt="Placeholder">
                    <div class="card-body">
                        <h4 class="card-title">Pet Name</h4>
                        <hr class="hr-card" />
                        <p class="card-text">Sex: N/A</p>
                        <p class="card-text">Breed: N/A</p>
                        <p class="card-text">Date of Birth: N/A</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mb-4">
            <div id="potentialMatches" class="pet-matches">
            <!-- Potential matches will be dynamically inserted here -->
            </div>
        </div>
    </div>
    <div class="row justify-content-center align-items-center mx-auto">
        <div id="matchedPetsGrid" class="dates-grid">
        <!-- Matched pets grid will be dynamically inserted here -->
        </div>
    </div>
</div>
{% endblock %}
