{% extends "layout.html" %}

{% block title %}
    Dating
{% endblock %}

{% block main %}
<div class="container-fluid full-height-container">
    <div class="row mx-auto justify-content-center">
        <div class="col-12 mx-auto text-center">
        <span><h1>Pet Dating</h1><br></span>
        </div>
        <div class="col-lg-6 col-md-6 col-12 mb-4 mx-auto text-center">
            <div style="height: 80px;">
                <select id="petSelect" onchange="displaySelectedPet();" class="button">
                    <option value="">Select Your Pet</option>
                    {% for pet in user_pets %}
                        <option value="{{ pet['pets_id'] }}">{{ pet['pet_name'] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div id="selectedPetCard" class="card mx-auto" style="width: 18rem;">
                <!-- Selected pet card will be dynamically inserted here -->
                <!-- Empty placeholder -->
                <div class="card mx-auto">
                    <img src="/static/placeholder.jpg" class="card-img-top" alt="Placeholder">
                    <div class="card-body">
                        <h4 class="card-title">Pet Name</h4>
                        <hr class="hr-card" />
                        <p class="card-text">Sex: N/A</p>
                        <p class="card-text">Breed: N/A</p>
                        <p class="card-text">Date of Birth: N/A</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12 mb-4 mx-auto text-center">
            <div style="height: 80px;">
                <button class="button">Your Pet's Match</button>
            </div>
            <div id="potentialMatchCard" class="pet-matches card mx-auto" style="width: 18rem;">
                <!-- Potential matches will be dynamically inserted here -->
                <!-- Empty placeholder -->
                <div class="card mx-auto">
                    <img src="/static/placeholder.jpg" class="card-img-top" alt="Placeholder">
                    <div class="card-body">
                        <h4 class="card-title">Pet Name</h4>
                        <hr class="hr-card" />
                        <p class="card-text">Sex: N/A</p>
                        <p class="card-text">Breed: N/A</p>
                        <p class="card-text">Date of Birth: N/A</p>
                    </div>
                    <div class="card-footer text-center">
                        <button class="btn btn-danger btn-lg mx-2" onclick="rejectMatch(petId)">
                            <i class="bi bi-x-circle"></i> NO
                        </button>
                        <button class="btn btn-success btn-lg mx-2" onclick="acceptMatch(petId)">
                            <i class="bi bi-check-circle"></i> YES
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Section for Matches Grid -->
        <div id="matchesGrid" class="row mt-4">
            <!-- Accepted matches will be displayed here -->
        </div>
    </div>
</div>  
{% endblock %}
