{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block main %}

<div class="container-fluid h-100 mb-4 mr-4 ml-4 mb-md-5 mr-md-5 ml-md-5">
    <div class="row h-100 align-items-center">
        <!-- Fixed Text Column -->
        <div class="col-md-3 col-12">
            <div class="fixed-column align-items-center h-100">
                <!-- Static text content goes here -->
                <h1>My Pets</h1>
                <br>
                <h2>Keep track of your pets, elegantly.</h2>
                <br>
            </div>
        </div>

        <!-- Pet Cards Column -->
        <div class="col-md-9 col-12">
            <div class="row">
                <!-- Loop through pets and create cards -->
                {% for pet in pets %}
                <div class="col-lg-4 col-md-6 col-12 mb-5">
                    <div class="card h-100 m-4">
                        <!-- Use the photo path from the pet data -->
                        <img src="{{ url_for('static', filename=pet.photo_path) }}" class="card-img-top" alt="{{ pet.pet_name }}">
                        <i class="bi bi-pencil-square edit-photo-icon" onclick="editPhoto('{{ pet.pets_id }}')"></i>
                        <div class="card-body d-flex flex-column">
                            <div class="content">
                                <h4 class="card-title">{{ pet.pet_name }}</h4>
                                <hr class="hr-card" />
                                <!-- More pet details -->
                                <p class="card-text">Sex: {{ pet.pet_sex }}</p>
                                <p class="card-text">Breed: {{ pet.breed }}</p>
                                <p class="card-text">Date of Birth: {{ pet.pet_dob }}</p>
                                <p class="card-text">Tracker: {{ pet.tracker }} 
                                <i class="bi bi-pencil-square edit-tracker-icon" onclick="editTracker('{{ pet.pets_id }}')"></i></p>
                            </div>
                            <a href="#" class="button">Go somewhere</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- Photo Edit Modal -->
        <div class="modal fade" id="photoEditModal" tabindex="-1" aria-labelledby="photoEditModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="photoEditModalLabel">Edit Pet Photo</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="photoEditForm" action="{{ url_for('edit_photo') }}" method="post" enctype="multipart/form-data">
                        <div class="modal-body">
                            <input type="hidden" id="editPhotoPetId" name="petId">
                            <input class="form-control" type="file" id="petPhoto" name="petPhoto" accept="image/*">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="button">Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Tracker Edit Modal -->
        <div class="modal fade" id="trackerEditModal" tabindex="-1" aria-labelledby="trackerEditModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="trackerEditModalLabel">Edit Pet Tracker</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="trackerEditForm" action="{{ url_for('edit_tracker') }}" method="post">
                        <div class="modal-body">
                            <input type="hidden" id="editTrackerPetId" name="petId">
                            <input class="form-control" type="text" id="petTracker" name="petTracker">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="button">Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>
</div>

{% endblock %}
