{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block main %}

    <div class="row">
        <div class="col-sm-4 mb-3 mb-sm-0 mx-auto">
            <div class="d-grid">
                <button class="btn btn-fit" type="button">Add Pet</button>
                <button class="btn btn-fit" type="button">Feeds</button>
                <button class="btn btn-fit" type="button">Dating</button>
                <button class="btn btn-fit" type="button">Marketplace</button>
            </div>
        </div>
        <div class="col-sm-4 mb-3 mb-sm-0 mx-auto">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Pet Name</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-fit">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-3 mb-sm-0 mx-auto">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Pet Name</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-fit">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
