<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- https://getbootstrap.com/docs/5.3/ -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <!-- https://select2.org/ -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet">
        <!-- Bootstrap icons -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.css" rel="stylesheet">
        <!-- https://favicon.io/emoji-favicons/hollow-red-circle -->
        <link href="/static/favicon.ico" rel="icon">

        <link href="/static/styles.css" rel="stylesheet">

        <title>Peternal {% block title %}{% endblock %}</title>

    </head>

    <body>

        <nav class="navbar navbar-dark bg-navbar sticky-top navbar-expand-md">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><span class="red"><img src="/static/favicon.ico" alt="Peternal"> Peternal </a>
                <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    {% if session["user_id"] %}
                        <ul class="navbar-nav nav-pills me-auto mt-2">
                            <li class="nav-item">
                                <a class="nav-link" href="/add_pet" title="Add Pet"><i class="bi bi-plus-square-fill"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/tracking" title="Tracking"><i class="bi bi-compass-fill"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/dating" title="Dating"><i class="bi bi-heart-fill"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/health" title="Health"><i class="bi bi-activity"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/afterlife" title="Afterlife"><i class="bi bi-emoji-dizzy-fill"></i></a>
                            </li>
                        </ul>
                        <div class="nav-item dropdown ms-auto mt-2">
                            <a class="nav-link dropdown-toggle nav-user-icon" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-person-circle"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/change">Change Password</a></li>
                                <li><a class="dropdown-item" href="/logout">Log Out</a></li>
                            </ul>
                        </div>
                    {% else %}
                        <ul class="navbar-nav nav-pills ms-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="/register">Sign up</a></li>
                            <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </nav>

        <header>
            <!-- Display alerts -->
            <div class="alert-container {% if get_flashed_messages(with_categories=true) %}active{% endif %}">
                {% if get_flashed_messages(with_categories=true) %}
                    {% for category, message in get_flashed_messages(with_categories=true) %}
                        <div class="alert alert-{{ category }} mb-0 text-center" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </header>

    

        <main class="container-fluid text-center">
            {% block main %}{% endblock %}
        </main>

        <footer class="footer mt-auto py-3 bg-footer text-center text-muted fixed-bottom">
            <div class="container">
                <span class="text-body-secondary">
                    Data provided by <a href="https://froggystyle.biz/">Pets of the World</a>
                </span>
            </div>
        </footer>

        <!-- https://getbootstrap.com/docs/5.3/ -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <!-- JQuery for fading message box -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <!-- https://select2.org/ -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
        <!-- Local JavaScript file -->
        <script src="{{ url_for('static', filename='scripts.js') }}"></script>
        
    </body>

</html>
