{% extends "layout.html" %}

{% block title %}
    Privacy Policy
{% endblock %}

{% block main %}
<div class="text-container">
    <h1>Privacy Policy</h1>
    <p>Last updated: [Insert Date]</p>

    <h2>1. Introduction</h2>
    <p>Welcome to Peternal. We respect the privacy of our users and are committed to protecting their personal information. This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you visit our website [Insert Website URL] (the “Site”).</p>
        
    <h2>2. Information Collection</h2>
    </h2>We collect various types of information from and about users of our Site, including:
        <p>Personal Information: Information by which you may be personally identified, such as name, email address, and other contact details.<br>
        Usage Information: Details of your visits to our Site, including traffic data, location data, logs, and other communication data.<br>
        Technical Information: Information about your computer and internet connection, including your IP address, operating system, and browser type.
        </p>
        
    <h2>3. How We Use Your Information</h2>
        <p>We use information collected about you or that you provide to us, including any personal information:
            <ul>
                <li>To present our Site and its contents to you.</li>
                <li>To provide you with information, products, or services that you request from us.</li>
                <li>To fulfill the purposes for which you provided the information or that were described when it was collected.</li>
                <li>For any other purpose with your consent.</li>
            </ul>
        </p>
    <h2>4. Disclosure of Your Information</h2>
        <p>We may disclose aggregated information about our users without restriction. We may disclose personal information:
            <ul>
                <li>To our subsidiaries and affiliates.</li>
                <li>To contractors, service providers, and other third parties we use to support our business.</li>
                <li>To fulfill the purpose for which you provide it.</li>
                <li>For any other purpose disclosed by us when you provide the information.</li>
            </ul>
        </p>
    <h2>5. Data Security</h2>
        <p>We implement measures designed to protect your personal information from accidental loss and from unauthorized access, use, alteration, and disclosure.
        </p>
        
    <h2>6. Changes to Our Privacy Policy</h2>
        <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.
        </p>
        
    <h2>7. Contact Information</h2>
        <p>To ask questions or comment about this Privacy Policy and our privacy practices, contact us at: [Your Contact Information].
        </p>
</div>
{% endblock %}
