{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <h1>Register</h1>
    <br>
    <form action="/register" method="post">
        <div class="mb-3">
            <input autofocus class="form-control mx-auto w-auto {{ 'error-border' if error_field == 'username' }}" id="username" name="username" value="{{ username or '' }}" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input autofocus class="form-control mx-auto w-auto {{ 'error-border' if error_field == 'email' }}" id="email" name="email" value="{{ email or '' }}" placeholder="Email" type="email">
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto {{ 'error-border' if error_field == 'password' }}" id="password" name="password" value="{{ password or '' }}" placeholder="Password" type="password">
        </div>
        <p> Password must be 8 characters long or more and contain at least a digit, 
            <br>an uppercase and lowercase letter, and a special charater.</p>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto {{ 'error-border' if error_field == 'confirmation' }}" id="password" name="confirmation" value="{{ confirmation or '' }}" placeholder="Confirm Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}
