{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<div class="container full-height-container">
    <div class="row d-flex align-items-center">
        <!-- Left Column -->
        <div class="col-md-6">
            <div class="headline">
                <p>
                    Join millions of sad pet owners and dead puppies 🐶😵, today!
                </p>
            </div>
        </div>

        <!-- Right Column (login form) -->
        <div class="col-md-6 mx-auto">
            {% if not show_resend_link %}
            <h1>Sign Up</h1>
            <form action="/register" method="post" id="register-form">
                <!-- Spinner, initially hidden -->
                <div class="d-flex justify-content-center spinner-container" id="spinner-container">
                    <div id="spinner" class="spinner-border m-3 visually-hidden" role="status">
                    </div>
                </div>
                <div class="mb-3">
                    <input autofocus class="form-control mx-auto w-fixed {{ 'error-border' if error_field == 'username' }}" 
                        id="username" name="username" 
                        value="{{ username or '' }}" 
                        placeholder="Username" 
                        type="text">
                </div>
                <div class="mb-3">
                    <input class="form-control mx-auto w-fixed {{ 'error-border' if error_field == 'email' }}" 
                        id="email" name="email" 
                        value="{{ email or '' }}" 
                        placeholder="Email" 
                        type="email">
                </div>
                <div class="mb-3">
                    <input autocomplete="off" class="form-control mx-auto w-fixed {{ 'error-border' if error_field == 'password' }}" 
                        id="password" name="password" 
                        value="{{ password or '' }}" 
                        placeholder="Password" 
                        type="password"
                        data-bs-toggle="tooltip" 
                        data-bs-placement="top"
                        data-bs-custom-class="custom-tooltip"
                        data-bs-html="true"
                        title="Password requirements: minimum 8 characters, at least one digit, uppercase letter(s), lowercase letter(s), and special character(s).">
                    
                    <div class="progress mx-auto progress-top">
                        <div class="progress-bar" 
                            id="password-strength-bar" 
                            role="progressbar" 
                            aria-valuenow="0" 
                            aria-valuemin="0" 
                            aria-valuemax="100" 
                            title="Progress">
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <input autocomplete="off" class="form-control mx-auto w-fixed {{ 'error-border' if error_field == 'confirmation' }}" 
                    id="confirmation" name="confirmation" 
                    value="{{ confirmation or '' }}" 
                    placeholder="Confirm Password" 
                    type="password">
                </div>
                <button class="btn btn-fit" type="submit">Register</button>
            </form>
            <div class="login-link">
                <p>
                    Already have an account? <br>
                    <a href={{ url_for('login') }}>Login here.</a>
                </p>
            </div>
            {% endif %}
            {% if show_resend_link %}
            <h1>Email sent</h1>
                <form action="{{ url_for('resend_verification_email') }}" method="post" id="register-form">
                    <!-- Spinner, initially hidden -->
                    <div class="d-flex justify-content-center spinner-container" id="spinner-container">
                        <div id="spinner" class="spinner-border m-3 visually-hidden" role="status">
                        </div>
                    </div>
                    <p>
                        Didn't receive the email?
                        <br>
                        Make sure to check your spam folder first.
                    </p>
                    <input type="hidden" name="email" value="{{ email }}">
                    <button class="btn btn-fit" type="submit">Resend Verification Email</button>
                </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
