{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<div class="container full-height-container">
    <div class="row d-flex align-items-center">
        <!-- Left Column -->
        <div class="col-md-6">
            <div class="headline">
                <p>
                    Join millions of happy pet owners and loved pets, <br> today!
                </p>
            </div>
        </div>

        <!-- Right Column (login form) -->
        <div class="col-md-6">
            {% if not show_resend_link %}
            <h1>Sign Up</h1>
            <br>
            <form action="/register" method="post">
                <div class="mb-3">
                    <input autofocus class="form-control mx-auto w-fixed {{ 'error-border' if error_field == 'username' }}" 
                        id="username" name="username" 
                        value="{{ username or '' }}" 
                        placeholder="Username" 
                        type="text">
                </div>
                <div class="mb-3">
                    <input class="form-control mx-auto w-fixed {{ 'error-border' if error_field == 'email' }}" 
                        id="email" name="email" 
                        value="{{ email or '' }}" 
                        placeholder="Email" 
                        type="email">
                </div>
                <div class="mb-3">
                    <input autocomplete="off" class="form-control mx-auto w-fixed {{ 'error-border' if error_field == 'password' }}" 
                        id="password" name="password" 
                        value="{{ password or '' }}" 
                        placeholder="Password" 
                        type="password"
                        data-bs-toggle="tooltip" 
                        data-bs-placement="top"
                        data-bs-custom-class="custom-tooltip"
                        data-bs-html="true"
                        title="Password requirements: <br>- minimum 8 characters, <br>- at least one digit,<br>- uppercase letter(s), <br>- lowercase letter(s), <br>- special character(s).">
                    
                    <div class="progress mx-auto progress-top">
                        <div class="progress-bar" 
                            id="password-strength-bar" 
                            role="progressbar" 
                            aria-valuenow="0" 
                            aria-valuemin="0" 
                            aria-valuemax="100" 
                            title="Progress">
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <input autocomplete="off" class="form-control mx-auto w-fixed {{ 'error-border' if error_field == 'confirmation' }}" 
                    id="confirmation" name="confirmation" 
                    value="{{ confirmation or '' }}" 
                    placeholder="Confirm Password" 
                    type="password">
                </div>
                <button class="btn btn-fit" type="submit">Register</button>
            </form>
            <div class="login-link">
                <p>
                    Already have an account? <a href={{ url_for('login') }}>Login here.</a>
                </p>
            </div>
            {% endif %}
            {% if show_resend_link %}
            <h1>Email sent</h1>
            <br>
            <p>
                Didn't receive the email?
                <br>
                Make sure to check your spam folder first.
                <form action="{{ url_for('resend_verification_email') }}" method="post">
                    <input type="hidden" name="email" value="{{ email }}">
                    <button class="btn btn-fit" type="submit">Resend Verification Email</button>
                </form>
            </p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
