{% extends "layout.html" %}

{% block title %}
    Request Password Reset
{% endblock %}

{% block main %}
<div class="container-fluid full-height-container">
    <div class="row justify-content-center align-items-center mx-auto">
        <div class="container container-request d-flex justify-content-center align-items-center">
            <form action="/request_password_reset" method="post" id="register-form">
                <div class="mb-3">
                    <input class="form-control mx-auto w-fixed {{ 'error-border' if error_field == 'Email' }}" type="email" 
                        name="email" id="email" 
                        placeholder="Enter your email" 
                        required autofocus>
                </div>
                <button id="registerButton" type="submit" class="button">Send Reset Link</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
