{% extends "layout.html" %}

{% block title %}
    Reset Password
{% endblock %}

{% block main %}
<div class="container full-height-container">
    <div class="row d-flex align-items-center mx-auto">
        <div class="col-md-12">
            <h1>Reset password</h1>
            <form action="/reset_password/{{ token }}" method="post" id="register-form">
                <!-- Spinner, initially hidden -->
                <div class="d-flex justify-content-center spinner-container" id="spinner-container">
                    <div id="spinner" class="spinner-border m-3 visually-hidden" role="status">
                    </div>
                </div>
                <div class="mb-3">
                    <input autocomplete="off" class="form-control mx-auto w-fixed {{ 'error-border' if error_field == 'password' }}" 
                    id="new_password" name="new_password" 
                    value="{{ password or '' }}" 
                    placeholder="New password" 
                    type="password"
                    data-bs-toggle="tooltip" 
                    data-bs-placement="top"
                    data-bs-custom-class="custom-tooltip"
                    data-bs-html="true"
                    title="Password requirements: minimum 8 characters, at least one digit, uppercase letter(s), lowercase letter(s), and special character(s).">

                    <div class="progress mx-auto progress-top">
                        <div class="progress-bar" 
                            id="password-strength-bar" 
                            role="progressbar" 
                            aria-valuenow="0" 
                            aria-valuemin="0" 
                            aria-valuemax="100" 
                            title="Progress">
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <input class="form-control mx-auto w-fixed {{ 'error-border' if error_field == 'confirmation' }}" 
                    id="confirmation" name="confirmation" 
                    placeholder="Confirm New Password" 
                    type="password">
                </div>
                <button class="btn btn-fit" type="submit">Change</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
